body.line-up {
  section.participants {
    .grid-row {
      margin-left: auto;
      margin-right: auto;
      padding: 0 1em 1em;
      width: 100%;

      @include grid-media($for-desktop-up) {
        padding: 0 2em 2em;
      }
    }

    .feed {
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -2rem;
        margin-right: -2rem;

        h2 {
          color: $white;
          font-size: $base-font-size * 2.8;

          @include grid-media($for-desktop-up) {
            font-size: $base-font-size * 3;
          }
        }
      }

      .excerpt-box-wrap {
        display: flex;
        margin-bottom: 2rem;

        @include grid-media($small-screens-up) {
          margin-bottom: 4rem;
        }
      }

      .col {
        min-height: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
        transition: all 0.2s ease-in-out;
        width: 50%;

        @include grid-media($small-screens-up) {
          flex: 0 0 33%;
          max-width: 33%;
          padding-left: 2rem;
          padding-right: 2rem;
        }

        @include grid-media($for-desktop-up) {
          flex: 0 0 20%;
          max-width: 20%;
        }

        img {
          display: block;
        }
      }

      .excerpt-box {
        display: block;
        outline: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &.participant {
          background: $white;
        }
      }

      .image-wrap {
        overflow: hidden;
        position: relative;

        .image {
          width: 100%;
        }
      }
    }

    .more-tba {
      .row {
        color: $white;
        margin: 0 auto;
        max-width: $medium-row;
        padding: 1em;
        text-align: center;
      }
    }
  }
}
