body.line-up {
  main.main {
    background: $light-gray;
  }
  section.participants {
    .grid-row {
      margin-left: auto;
      margin-right: auto;
      padding: 0 1em 1em;
      width: 100%;

      @include grid-media($for-desktop-up) {
        padding: 0 2em 2em;
      }
    }

    .feed {
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -2rem;
        margin-right: -2rem;
      }

      .excerpt-box-wrap {
        cursor: pointer;
        display: flex;
        margin-bottom: 6rem;
      }

      .col {
        min-height: 1px;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        transition: all 0.2s ease-in-out;
        width: 100%;

        @include grid-media($small-screens-up) {
          flex: 0 0 50%;
          max-width: 50%;

          img {
            max-width: 362px;
          }
        }

        @include grid-media($for-desktop-up) {
          flex: 0 0 25%;
          max-width: 25%;

          img {
            max-width: 430px;
          }
        }

        &:hover {
          transform: scale(1.05);
        }
      }

      .excerpt-box {
        display: block;
        outline: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &.participant {
          background: $white;
        }
      }

      .image-wrap {
        overflow: hidden;
        position: relative;

        .image {
          width: 100%;
        }
      }
    }

    .more-tba {
      .row {
        color: $white;
        margin: 0 auto;
        max-width: $medium-row;
        padding: 1em;
        text-align: center;
      }
    }
  }
}
