html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  @include grid-media($for-desktop-up) {
    display: flex;
    flex-direction: column;
  }
}

main.main {
  @include grid-media($for-desktop-up) {
    flex: 1 0 auto;
  }
}

footer.footer {
  @include grid-media($for-desktop-up) {
    flex-shrink: 0;
  }
}
