<div class="announcement">
  <div class="container">
    <p>
      The second edition of Wild Festival Groningen is postponed to August 13 and 14, 2021 because of the epidemic situation.
    </p>
    <p>
      <%= partial "partials/button", locals: { to: "https://www.facebook.com/wildfestivalgroningen/posts/1088776131649969",
                                               variant: "size-normal style-solid",
                                               icon_right: "icons/arrow-right.svg",
                                               text: "Full Story Here",
                                               target: "_blank"} %>
    </p>
  </div>
</div>


