<div class="announcement">
  <div class="container">
    <p>
      Wild Festival Groningen 2020 is postponed because of the epidemic situation.
    </p>
    <p>
      <%= partial "partials/button", locals: { to: "https://www.facebook.com/wildfestivalgroningen/posts/951646518696265",
                                               variant: "size-normal style-solid",
                                               icon_right: "icons/arrow-right.svg",
                                               text: "Full Story",
                                               target: "_blank"} %>
    </p>
  </div>
</div>


