<div class="participant-wrap excerpt-box-wrap col">
  <div class="participant excerpt-box">
    <div class="image-wrap">
      <%= image_tag participant.image, alt: participant.title, class: "image" %>
    </div>
  </div>
</div>
