<footer role="footer">
  <div class="grid-row">
    <%= inline_svg "nix-18.svg", alt: "NIX18" %>
  </div>
  <div class="grid-row">
    &copy; <%= Time.new.year %> <%= data.site.name %> <a href="https://www.github.com/ronalddijkstra/wildfestivalgroningen" class="icon-github" target="_blank" rel="noopener noreferrer"></a>
  </div>
</footer>
