<!-- <footer role="footer">
  <div class="content-wrap">
    <div class="grid-row">
      <div class="col">
        <%= inline_svg "hopje.svg", alt: "Folkingebrew HOP" %>
      </div>
      <div class="col">
        <h4>Contact</h4>
        <div><%= link_to "Stuur een e-mail", "/contact.html" %></div>
      </div>
      <div class="col social">
        <h4>Social</h4>
        <div>
          <a href="https://www.facebook.com/Folkingebrew-167577637289407/" class="social-icon icon-facebook" target="_blank" rel="noopener noreferrer"></a>
          <a href="https://www.instagram.com/folkingebrew/" class="social-icon icon-instagram" target="_blank" rel="noopener noreferrer"></a>
          </div>
      </div>
    </div>
    <div class="grid-row copyright">
      &copy; <%= Time.new.year %> Wild Festival Groningen
    </div>
  </div>
</footer> -->
