<div class="social-links">
  <a href="https://www.facebook.com/Wild-Festival-Groningen-500252510502337/" class="icon-facebook" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.instagram.com/wildfestivalgroningen/" class="icon-instagram" target="_blank" rel="noopener noreferrer"></a>
</div>
