<section class="about">
  <div class="grid-row">
    <h2>
      <%= t("pages.index.sections.about.title") %>
    </h2>
    <p>
      <%= t("pages.index.sections.about.text", link: locale_link_to(t("navigation.tickets"), "/tickets.html")) %>
    </p>
  </div>
</section>
