<header class="banner variant-big" role="banner">
  <div class="grid-row">
    <h2>
      BEER | WINE | CIDER | FOOD
    </h2>
    <h1>
      WILD FESTIVAL GRONINGEN
    </h1>
    <h2>
      <span><%= t("pages.index.banner.date") %></span>
      <span class="divider">|</span>
      <span><%= t("pages.index.banner.location") %></span>
    </h2>
    <%= locale_link_to(t("navigation.tickets"), "/tickets.html", class: "button white ghost") %>
  </div>
</header>
