<header class="banner variant-big" role="banner">
  <div class="grid-row">
    <h1>
      <span><%= t("pages.index.banner.date") %></span>
      <span class="divider">|</span>
      <span><%= t("pages.index.banner.location") %></span>
    </h1>
  </div>
</header>
