<section class="line-up">
  <div class="grid-row">
    <h2>
      <%= t("pages.index.sections.line-up.title") %>
    </h2>
    <p>
      <%= t("pages.index.sections.line-up.text", link: locale_link_to(t("navigation.participators"), "/deelnemers.html")) %>
    </p>
  </div>
</section>
