<section class="program">
  <div class="grid-row">
    <h2>
      <%= t("pages.index.sections.program.title") %>
    </h2>
    <p>
      <%= t("pages.index.sections.program.text", link: locale_link_to(t("navigation.program"), "/programma.html")) %>
    </p>
  </div>
</section>
