<p>
  These Guidelines are subject to changes, so make sure you have read the latest version of these rules before visiting our festival.
</p>
<p>
  <em>Updated: July 7, 2021</em>
</p>
<p>
  It looks good, most COVID restrictions should be gone this summer. New rules will make it possible to do an acces check at the entrance and host the festival without restrictions like: face mask, distance and fixed seating. However, we will require the EU Digital COVID Certificate or the <a href="https://coronacheck.nl/">Dutch Corona Check App</a>.
</p>
<p>
  With a negative test or full vaccination you can get acces to the festival. If you don't want to participate please <%= link_to "send us an email", "contact.html" %> and we will refund you.
</p>
<p>
  If the government changes the rules until August we might need to adapt our requirements as well. In that case we will let you know and ask for your cooperation.
</p>
