<p>
  These COVID Guidelines are subject to changes, so make sure you have read the latest version of these rules before visiting our festival.
</p>
<p>
  <em>Updated: July 26, 2021</em>
</p>
<p>
  With the new Dutch COVID-regulations the festival will take place! We already adapted to a seated event with less people, but with the best food, drinks and a lot of <strong>outdoor seats</strong> in the beautiful urban garden of EM2 Groningen.
</p>
<p>
  <strong>These are the most important rules:</strong>
</p>
<ul>
  <li>
    The CoronaCheck-app and/or a digital COVID-certificate are not necessary to get entrance to the festival. Just be healthy: if you have COVID-symptoms, stay home and get tested!
  </li>
  <li>
    We have to comply with the rules for restaurants and bars:
    <ul>
      <li>
        1.5 meters social distance is the most important and basic rule to keep each other safe;
      </li>
      <li>
        It is a seated event;
      </li>
      <li>
        Ordering is self-service, there is enough space to keep distance;
      </li>
      <li>
        After getting a glass/bottle you are obliged go back to your fixed seat.
      </li>
    </ul>
  </li>
</ul>
<p>
  These rules are now valid until 13 August. So maybe 14 August there can be other restrictions.
</p>
<p>
  We hope for your understanding and cooperation!
</p>
<p>
  Rules in detail, Dutch: <a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/cultuur-uitgaan-en-sport/horeca-en-evenementen" target="_blank">Rijksoverheid</a>.
</p>
