---
title:
  nl: "Bedankt"
  en: "Thanks"
robots: noindex,nofollow
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-forest-2.jpg",
                                         title: t("pages.contact.title")} %>

<section class="content">
  <div class="grid-row">
    <%= partial "bedankt/content" %>
  </div>
</section>
