---
title:
  nl: "Contact"
  en: "Contact"
description:
  nl: "Heb je vragen of opmerkingen? Neem contact op!"
  en: "Have a question? Contact us now!"
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-forest.jpg",
                                         title: t("pages.contact.title")} %>

<section class="single-column">
  <div class="grid-row">
    <article>
      <%= partial "contact/content" %>
    </article>
  </div>
</section>

<section class="form">
  <div class="grid-row form-grid-row">
    <h2>
      <%= t("sections.contact-form") %>
    </h2>
    <%= partial "partials/contact_form" %>
  </div>
</section>
