---
title:
  nl: "Contact"
  en: "Contact"
description:
  nl: "Heb je vragen of opmerkingen? Neem contact op!"
  en: "Have a question? Contact us now!"
sitemap_priority: 0.8
---

<header class="banner variant-normal" role="banner">
  <div class="grid-row">
    <h1>
      <%= t("pages.contact.title") %>
    </h1>
  </div>
</header>

<section class="single-column">
  <div class="grid-row">
    <article>
      <%= partial "contact/content" %>
    </article>
  </div>
</section>

<section class="form">
  <div class="grid-row form-grid-row">
    <h2>
      <%= t("sections.contact-form") %>
    </h2>
    <%= partial "partials/contact_form" %>
  </div>
</section>
