---
title:
  nl: "Deelnemers"
  en: "Participants"
description:
  nl: "Wat is de line-up?"
  en: "What's the line-up?"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<header class="banner variant-normal" role="banner">
  <div class="grid-row">
    <h1>
      <%= t("pages.participants.title") %>
    </h1>
  </div>
</header>

<section class="single-column">
  <div class="grid-row">
    <article>
      <p>
        Meer dan twintig deelnemers zullen zorgen voor een unieke line-up van brouwers, wijnboeren en ciderhuizen. Lokale ingrediënten, spontane vergisting en rijping op eiken vaten staan centraal.
      </p>
      <p>
        Naast drinken is er heerlijk eten in de foodcourt met echt wild, gefermenteerde producten en producten rechtstreeks uit de natuur.
      </p>
    </article>
  </div>

  <div class="grid-row">
    <div class="flex-wrapper">

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/participants/antidoot-wilde-fermenten.png", alt: "Antidoot Wilde Fermenten" %>
        </div>
        <div class="item-text">
          <h3>
            Antidoot Wilde Fermenten
          </h3>
          <p>
            <%= t("pages.participants.antidoot.text") %>
          </p>
          <a href="https://www.antidoot.be" target="_blank">www.antidoot.be</a>
        </div>
      </div>
    </div>
  </div>
</section>
