---
title:
  nl: "Deelnemers"
  en: "Participators"
description:
  nl: "Wat is de line-up?"
  en: "What's the line-up?"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<div class="grid-row">
  <h1><%= t("pages.participators.title") %></h1>
</div>
