---
title:
  nl: "Drinken"
  en: "Drinks"
description:
  nl: "Wat is er te drinken?"
  en: "What's to drink?"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<h1><%= t("pages.drinks.title") %></h1>
