---
title:
  nl: "Eten"
  en: "Food"
description:
  nl: "Wat is er te eten?"
  en: "What's to eat?"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<div class="grid-row">
  <h1><%= t("pages.food.title") %></h1>
</div>
