---
description:
  nl: "Wild Festival Groningen brengt de werelden van wilde bieren, natuurwijnen en ciders bij elkaar. Wilde spontane fermentatie staat centraal."
  en: "Wild Festival Groningen brings together the worlds of wild beers, natural wines and ciders. Wild spontaneous fermentation is the central theme."
sitemap_priority: 1
---

<%= partial "homepage/banner" %>
<section class="introduction single-column">
  <div class="grid-row">
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>
<%= partial "partials/line-up" %>
<%= partial "partials/maps" %>
