---
description:
  nl: "Dit is een beschrijving"
  en: "This is a description"
sitemap_priority: 1
---

<div class="row">
  <h1><%= t("pages.index.title") %></h1>

  <%= partial "homepage/homepage" %>
</div>
