---
description:
  nl: "Wild Festival Groningen brengt de werelden van wilde bieren, natuurwijnen en ciders bij elkaar. Wilde spontane fermentatie staat centraal."
  en: "Wild Festival Groningen brings together the worlds of wild beers, natural wines and ciders. Wild spontaneous fermentation is the central theme."
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "WILD FESTIVAL GRONINGEN",
                                         pre_title: "BEER | WINE | CIDER | FOOD",
                                         sub_title_date: t("pages.index.banner.date")
                                         # sub_title_location: t("pages.index.banner.location"),
                                         # button_link: "/tickets.html",
                                         # button_text: t("actions.buy_now"),
                                         # button_variant: "big light-blue"
                                       } %>

<section class="introduction single-column">
  <div class="grid-row">
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>

<section class="social">
  <div class="grid-row">
    <h2>
      <%= t("sections.social") %>
    </h2>
    <%= partial "partials/social-links" %>
  </div>
</section>
