---
description:
  nl: "Dit is een beschrijving"
  en: "This is a description"
sitemap_priority: 1
---

<header class="banner variant-big" role="banner">
  <div class="grid-row">
    <h1>
      <%= t("pages.index.title") %>
    </h1>

    <%= link_to t("actions.tickets"), "tickets.html", class: "button" %>
  </div>
</header>

<div class="grid-row">
  <%= partial "homepage/homepage" %>
</div>
