---
title: "Line-up"
description:
  nl: "Meer dan twintig deelnemers zullen zorgen voor een unieke line-up van brouwers, wijnboeren en ciderhuizen."
  en: "More than twenty participants from Europe will ensure an unique line-up of brewers, winemakers and cider houses."
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-glasses.jpg",
                                         title: t("pages.line-up.title")} %>

<section class="single-column">
  <div class="grid-row">
    <article>
      <%= markitdown t("pages.line-up.text") %>
    </article>
  </div>
</section>
