---
title:
  nl: "Organisatie"
  en: "Organisation"
description:
  nl: "Achtergronden"
  en: "Backgrounds"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<div class="grid-row">
  <h1><%= t("pages.organisation.title") %></h1>
</div>
