---
title:
  nl: "Programma"
  en: "Program"
description:
  nl: "Diverse evenementen op verschillende locaties in Groningen. Binnenkort meer informatie!"
  en: "Various events at different locations in Groningen. More information soon!"
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-barrels-2.jpg",
                                         title: t("pages.program.title")} %>

<section class="single-column small">
  <div class="grid-row">
    <article>
      <%= partial "programma/content" %>
    </article>
  </div>
</section>
