---
title:
  nl: "Programma"
  en: "Program"
description:
  nl: "Naast het festival worden er verschillende evenementen georganiseerd op 21, 22, 23 en 24 november 2019."
  en: "Various events at different locations in Groningen on 21, 22, 23 and 24 november 2019."
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-barrels-2.jpg",
                                         title: t("pages.program.title")} %>

<section class="single-column">
  <div class="grid-row">
    <%= partial "programma/programma" %>
  </div>
</section>
