---
title:
  nl: "Tickets"
  en: "Tickets"
description:
  nl: "Koop hier je tickets voor Wild Festival Groningen 2020 en side events."
  en: "Buy your tickets for Wild Festival Groningen 2020 and side events."
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-bokke.jpg",
                                         title: t("pages.tickets.title")} %>

<section class="single-column small">
  <div class="grid-row">
    <article>
      <p>
        <%= t("pages.tickets.text") %>
      </p>
    </article>
  </div>
</section>
