---
title:
  nl: "Tickets"
  en: "Tickets"
description:
  nl: "Koop hier je tickets voor Wild Festival Groningen en side events."
  en: "Buy your tickets for Wild Festival Groningen and side events."
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-barrels.jpg",
                                         title: t("pages.tickets.title")} %>

<section class="single-column small">
  <div class="grid-row">
    <article>
      <p>
        <%= t("pages.tickets.text") %>
      </p>
      <iframe id="stager-ticketshop-iframe" height="650" width="600" frameborder="0" src="https://wildfestivalgroningen.stager.nl/web/tickets" style="border: 0px; background: transparent; max-width: 100%;"></iframe>
    </article>
  </div>
</section>
