---
title:
  nl: "Tickets"
  en: "Tickets"
description:
  nl: "Hoe kom ik aan tickets?"
  en: "How do I buy tickets?"
robots: noindex,nofollow
sitemap_priority: 0.8
---

<h1><%= t("pages.tickets.title") %></h1>
