---
title:
  nl: "Tickets"
  en: "Tickets"
description:
  nl: "De kaartverkoop start op 1 mei 2019 om 20:00 uur!"
  en: "Presale starts May 1, 2019 at 8:00 pm!"
sitemap_priority: 0.8
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-barrels.jpg",
                                         title: t("pages.tickets.title")} %>

<section class="single-column small">
  <div class="grid-row">
    <article>
      <p>
        <%= t("pages.tickets.text") %>
      </p>
      <iframe id="stager-ticketshop-iframe" height="650" width="600" frameborder="0" src="https://wildfestivalgroningen.stager.nl/web/tickets" style="border: 0px; background: transparent; max-width: 100%;"></iframe>
    </article>
  </div>
</section>
