body.line-up {
  &.line-up-show {
    section.participant {
      padding-top: 8rem;
    }

    .grid-row {
      &.participant-item {
        height: 100%;
        padding: 0;

        @include grid-media($for-desktop-up) {
          display: flex;
          padding: 4em 1em 0;
        }
      }

      &.back-link {
        text-align: center;
      }

      .participant-image {
        background: $white;
        display: flex;

        @include grid-media($for-desktop-up) {
          border-right: 1px solid $light-gray;
          flex: 0 0 50%;
        }

        .image-wrap {
          align-items: center;
          display: flex;
          overflow: hidden;
          position: relative;

          .image {
            max-width: 819px;
          }

          img {
            display: block;
            height: auto;
            width: 100%;
          }
        }
      }

      .participant-text {
        align-items: center;
        background: $white;
        display: flex;
        flex: 0 0 50%;
        padding: 2em 1em;

        @include grid-media($for-desktop-up) {
          padding: 2em;
        }

        h1 {
          font-size: $base-font-size * 2;
          margin-bottom: 0.25em;

          @include grid-media($for-desktop-up) {
            font-size: $base-font-size * 2.4;
          }
        }

        .description {
          margin-bottom: 0.75em;
        }

        h4 {
          font-size: $base-font-size * 1.4;
        }

        .participant-facts {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0.75em;
          width: 100%;
        }

        .participant-fact {
          flex: 0 0 50%;
          margin-bottom: 1em;
          padding-right: 1em;

          span {
            display: block;
          }

          .participant-fact-label {
            color: $light-gray;
            font-size: 0.9em;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        .icon {
          background: $light-blue;
          border-radius: $base-border-radius;
          color: $white;
          font-size: $base-font-size * 1.1;
          padding: 0.5em;
          text-decoration: none;
          transition: background-color 0.2s ease;

          &:hover {
            background: lighten($light-blue, 5%);
          }
        }
      }
    }
  }
}
