<div class="participant-wrap excerpt-box-wrap col-sm-6 col-md-4">

  <% link_to participant.url, class: "participant excerpt-box" do %>
    <div class="image-wrap">
      <div class="image-wrap-content content">
        <div class="image-wrap-content-inner">
          <h4 class="excerpt-box-title">
            <%= participant.title %>
          </h4>
          <div class="meta">
            <%= participant.data.origin %>
          </div>
        </div>
      </div>
      <%= image_tag participant.data.image, alt: participant.title, class: "image" %>
    </div>
    <div class="content content-alignment--center">
      <div class="meta"></div>
    </div>
  <% end %>

</div>
