---
title: "Menu"
description: "Check alle bij Just in Beer verkrijgbare bieren"
blog: menu
pageable: true
---

<header class="banner variant-normal" role="banner">
  <div class="grid-row">
    <h1>
      Menu
    </h1>
  </div>
</header>

<section>
  <div class="grid-row">

    <ul>
      <% page_articles.each do |article| %>
        <%= partial "menu/untappd-menu-item", locals: { article: article } %>
      <% end %>
    </ul>

    <%= partial "menu/pagination", locals: current_page.metadata[:locals] %>

  </div>
</section>
