.announcement {
  background: $dark-gray;
  margin: 1em auto 0;
  max-width: 640px;
  padding: 1em;
  width: 100%;

  .container {
    color: $white;
  }

  p {
    margin: 0;
  }

  .button {
    margin-top: 0.75em;
  }
}
