header.banner {
  $banner-image: "../images/banner-homepage.jpg";
  background: url($banner-image) no-repeat center center fixed;
  background-attachment: scroll;
  background-size: cover;
  color: $white;
  padding: 0 $base-spacing;

  @include grid-media($for-desktop-up) {
    padding: 0;
  }

  &.variant-big {
    text-align: center;

    .grid-row {
      padding: 6em 0;
    }

    h1 {
      font-size: $base-font-size * 2.4;

      span {
        display: block;
      }
    }
  }

  &.variant-normal {
    text-align: center;

    .grid-row {
      padding: 3em 0;
    }

    h1 {
      font-size: $base-font-size * 2;

      span {
        display: block;
      }
    }
  }
}
