section.hero-big {
  .grid-row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 2em;
    position: relative;

    @include grid-media($for-desktop-up) {
      padding: 20em 2em;
    }

    .hero-logo {
      margin-bottom: 2em;
    }

    h2 {
      color: $white;
      font-size: $base-font-size * 1.8;
      margin: 0;

      @include grid-media($for-desktop-up) {
        font-size: $base-font-size * 2.4;
      }

      &:first-of-type {
        margin-bottom: 1em;
      }

      &:last-of-type {
        margin-top: 1em;
      }
    }

    h3 {
      color: $white;
      font-size: $base-font-size * 2;
      font-weight: normal;
      margin: 0;
    }
  }

  body.index & {
    &::before {
      $background-image: "../images/hero-homepage.jpg";

      background-image: url($background-image);
    }
  }

  body.x404 & {
    &::before {
      $background-image: "../images/hero-bubbles.png";

      background-image: url($background-image);
    }

    h1 {
      color: $white;
      font-size: $base-font-size * 2;
    }
  }

  &::before {
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: screen;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
  }
}
