.site-navigation {
  background: $white;
  box-shadow: 0 4px 2px -2px rgba($black, 0.1);
  height: 60px;
  line-height: 50px;
  padding: 5px 0;
  position: fixed;
  width: 100%;

  .logo {
    left: 50%;
    line-height: 60px;
    margin-left: -120px;
    position: absolute;
    text-align: center;
    width: 240px;
  }

  .navigation-left {
    left: 0;
    margin-right: 120px;
    position: absolute;
    right: 50%;
    text-align: right;
  }

  .navigation-right {
    left: 50%;
    margin-left: 120px;
    position: absolute;
    right: 0;
    text-align: left;
  }

  .navigation-bar {
    display: none;
    float: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    width: 100%;

    @include grid-media($for-desktop-up) {
      display: block;
    }

    a {
      display: inline-block;
      font-family: 'MoonFlower', cursive;
      font-size: $base-font-size * 1.6;
      line-height: auto;
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-transform: uppercase;

      &:hover {
        color: $blue;
      }

      &[aria-current]:not([aria-current="false"]) {
        background-color: $white;
        background-position: 0 bottom;
        color: $blue;
        font-weight: $font-weight-semibold;
      }
    }

  a {
    color: $dark-gray;
    text-decoration: none;
  }

  .mobile-toggle {
    background: $dark-gray;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 200ms ease-in;
    width: 50px;

    @include grid-media($for-desktop-up) {
      display: none;
    }

    span {
      background-color: $white;
      bottom: auto;
      height: 3px;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: background-color 0.3s ease;
      width: 26px;

      &::after,
      &::before {
        background-color: $white;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: 0.3s;
        width: 26px;
      }

      &::after {
        transform: translateY(9px);
      }

      &::before {
        transform: translateY(-9px);
      }
    }
  }

  &.navigation-open {
    .mobile-toggle span {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .navigation-bar {
      max-height: 34em;
    }
  }
  }
}
