div.tt {
  .tt-message {
    background-color: lighten($light-blue, 20%);
    font-size: $base-font-size * 0.8;
    padding: 16px 24px;
    text-align: center;
  }

  .tt-list {
    border: $base-border;
    margin-bottom: 64px;
  }

  .tt-header {
    background-color: $dark-gray;
    color: $white;
    font-family: $heading-font-family;
    font-size: $base-font-size * 1.8;
    line-height: 1.2em;
    padding: 16px 24px;
  }

  .tt-day {
    background-color: $light-gray;
    color: $white;
    font-family: $heading-font-family;
    font-size: $base-font-size * 1.5;
    padding: 16px 24px;
  }

  .tt-item {
    border-bottom: $base-border;
    font-size: $base-font-size * 0.9;
    padding: 32px 24px;

    @include grid-media($for-desktop-up) {
      display: flex;
    }

    .button {
      margin-top: 16px;
    }

    &:last-of-type {
      border-bottom: 0;
    }

    .tt-title {
      font-weight: $font-weight-bold;
      padding-bottom: 8px;
    }

    .tt-price {
      font-weight: $font-weight-bold;
    }
  }

  .tt-col {
    &.left {
      @include grid-media($for-desktop-up) {
        padding-right: 8px;
        width: 80%;
      }
    }

    &.right {
      padding-top: 16px;

      @include grid-media($for-desktop-up) {
        padding-left: 16px;
        padding-top: 0;
        width: 20%;
      }
    }
  }
}
