---
title: "About Us"
description: "Wild Festival Groningen is organized by Bierselect and Boilermaker."
sitemap_priority: 0.8
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      About Us
    </h1>
  </div>

</header>
<section class="about-us medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/about-us" %>
    </div>
  </div>
</section>
