---
title: "COVID Guidelines"
description: "If you have any questions about the festival, please contact us using the contact form."
sitemap_priority: 0.5
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      COVID Guidelines
    </h1>
  </div>
</header>
<section class="covid-guidelines medium-row">
  <div class="grid-row dark-content-box">
    <div class="row">
      <%= partial "content/covid-guidelines" %>
    </div>
  </div>
</section>
