---
title: "Wild Festival Groningen 2020"
description: "Welcome to the very special 2020 edition of Wild Festival Groningen."
sitemap_priority: 1
blog: line-up
header_class: header-transparent
---
<section class="hero hero-big">
  <div class="grid-row">
    <h2>
      Beer | Wine | Cider | Food
    </h2>
    <%= image_tag "assets/images/logo-wild-festival-groningen-white.svg", alt: "logo Wild Festival Groningen", class: "hero-logo" %>
    <%= partial "partials/announcement" %>
  </div>
</section>
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= partial "partials/button", locals: { to: "/line-up/index.html",
                                                 variant: "size-medium style-solid blue",
                                                 text: "Full Line-up",
                                                 icon_right: "icons/arrow-right.svg"} %>
      </div>
    </div>
  </div>
</section>
