---
title: "Line-Up"
description: "Be sure to check this page regularly for line-up updates"
pageable: true
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Line-Up
    </h1>
  </div>
</header>

<%
participants = data["line-up"]
%>

<section class="participants wide-row">
  <div class="grid-row">
    <div class="participants-grid-wrap">
      <div class="participants-grid feed">
        <div class="row">
          <% participants.sort_by(&:title).each do |participant| %>
            <%= partial "partials/line-up-preview", locals: { participant: participant } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-row more-tba">
    <div class="row">
      More to be announced!
    </row>
  </div>
</section>
