---
title: "Program"
description: "Check the main and side events of Wild Festival Groningen 2020."
sitemap_priority: 0.8
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Program
    </h1>
  </div>
</header>
