---
title: "Buy tickets"
description: "When available, here you can buy your Wild Festival Groningen 2021 tickets and side event tickets."
sitemap_priority: 0.8
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <%= dato.tickets_page.title %>
    </h1>
  </div>
</header>
<section class="tickets medium-row">
  <div class="grid-row">
    <div class="row">
      <%= markdownify(dato.tickets_page.content) %>

      <% if dato.tickets_page.show_ticket_embed == true %>
        <p>
          <iframe id="stager-ticketshop-iframe" height="650" width="600" frameborder="0" src="https://wildfestivalgroningen.stager.nl/web/tickets" style="border: 0px; background: transparent; max-width: 100%;"></iframe>
        </p>
      <% end %>
    </div>
  </div>
</section>
